@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Wix+Madefor+Display&display=swap');
body {
    margin: auto;
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;
    background-color:#000;
}

.bg-fondo01 {
  background-color: #F3950D !important;
}

.bg-fondo02 {
  background-color: #493323 !important;
}

.bg-fondo {
  background-color: #aaa !important;
}

.clockdate-wrapper {
    background-color: #333;
    padding: 5px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size: 30px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:15px;
}
#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}

